@using NRpiMonitor.Pages.Components
@page "/"

<PageTitle>NRpiMonitor</PageTitle>

<h1>.NET Raspberry Pi Monitor</h1>

<div class="container-fluid">
    <div class="row">
        <RadzenCard Style="margin: 3px">
            <div class="row">
                <RadzenLabel Text="Последний пинг"/>
            </div>
            <div class="row">
                <PingLastState/>    
            </div>
        </RadzenCard>
    </div>
    
    <div class="row">
        <RadzenCard Style="margin: 3px">
            <div class="row">
                <RadzenLabel Text="Последняя скорость"/>
            </div>
            <div class="row">
                <SpeedtestLastState/>    
            </div>
        </RadzenCard>
    </div>

</div>
